#body{
  background-color:  rgb(48, 45, 45);
  height: 100vh;
}
#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(48, 45, 45);
  color: azure;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navSearch{
  color: black;
}
.menuItem{
  font-size: 1.5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}
#NavBar{
  height: 50px;
}
.login{
  color: white;
}
.gameCardWish{
  color:white;
  flex-wrap: wrap;
  max-width: 15rem;
  margin-left: 15px;
}
.gameCardWish li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: bisque;
}
.gameName{
  display: flex;
  justify-content: space-between;
}
.gameCardImage {
  max-width: 15rem;
  height: 15rem;
  display: block;
margin-left: auto;
margin-right: auto;
}
#gamecenter{
  background-size: cover;
  height: 100vh; 
}
#gamecenter img{
  width: 100%;
}
.fullGame{
  display: inline-flex;
}
.gameName{
  font-size: 5rem;
  padding-left: 50px;
}

.fullGame img {
  padding-left: 15px;
  max-width: 40vw;
  max-height: 80vh;
}
#listCard {
  margin-left: 20vw;
  margin-top: 10vh;
  background-color: #CD6AF0;
  width: 400px;
}
#listCardHead{
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}
#listCardContent{
  color: black;
  font-size: 1.5rem;
  line-height: 35px;
}
#listCardBtn{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.miniCard{
  padding: 15px;
  width: 100%;
  display: inline-flex;
  position: relative;
}
.miniCard img{
  width: 150px;
}
.ui {
margin-left: 10px;
}
.miniDetails{
  color: #CD6AF0;
}
.listingPage{
  display: grid;
  grid-template-columns: [first] 10vw [line2] 25vw [line3] 10vw [col4-start] 50vw ;
  grid-template-rows: 150px 
}
#listingForm{
  grid-column: 2;
  grid-row: 2;
  width: 5px;
}
#listingCards{
  grid-column: 4;
  grid-row: 2;
}
#listingTitle{
  font-size: 4rem;
  grid-column: 1 / span 5;
  text-align: center;
}
#offerIntro {
  background-color: #CD6AF0;
  margin-top: 50px;
}
#offerIntro :first-child{
  font-size: 2rem;
  text-align: center;
  padding: 5px;
}
#offerIntro :nth-child(2){
  color: black;
  font-weight: bold;
}
.potentialListing{
padding: 20px;
  display: inline-flex;
}
.potentialListing img {
  max-width: 500px;
}
.miniMarketCard{
  width: 17rem;
  background-color: #4f2b5e;
  margin-left: 20px;
  font-size: 1.5rem;
}
.miniMarketImg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  /* background-color: #7e568b; */
}
.miniMarketImg img{
  width: 100%;
}