<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Continue the Fun, <%= @user.username %></h1>
    <p>
      You have successfully signed up for user level access. You can now buy games and list games for sale or offer them for free!
      Your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining our community and have a great day!</p>
  </body>
</html>
