<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Continue the Fun has an important message for you, <%= @user.username %></h1>
    <p>
      Recently another user added <%= @game.title %> to the Marketplace! This game is currently on your wishlist and it's available right now<br>
    </p>
    <p>
      To check it out, head to Continue the Fun, <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
